{% from "partials/gallery.njk" import gallery %}

{% macro deploy(body, images) %}
<section>
  <div class="container-sm design">
    <div>
      <h3 class="reveal-from-bottom">
        <img src="/assets/images/DeployIcon-white.svg" alt="deploy icon" width="40" class="mr-8" />
        Deploy
      </h3>
      <p class="reveal-from-bottom">{{ body }}</p>
    </div>
  </div>

  <div class="container-sm cs-gridWrapper reveal-from-bottom">
    {{ gallery(images, 300, false) }}
  </div>
</section>
{% endmacro %}
