{% from "partials/video-embed.njk" import videoEmbed %}

{% macro intro(title, description, imgSrc, videoUrl, videoClassName, videoPosterSrc, hideBackArrow, hideCaseStudyLabel) %}
<section class="cs-hero section center-content">
  <img alt="design wireframe background" src="{{ imgSrc }}" width="500" style="position: absolute; opacity: 30%; margin-top: 20px" />
  <div class="container-sm">
    {% if not hideBackArrow %}
    <a href="/#work">
      <img src="/assets/images/backArrow.svg" alt="back arrow" width="40" class="mt-32 mb-32 ft-l" style="position: relative; z-index: 10" />
    </a>
    {% endif %}
    <div class="hero-inner section-inner">
      <div class="cs-hero-content">
        {% if not hideCaseStudyLabel %}
        <h3 class="mt-16 mb-16 ta-l reveal-from-bottom">Case Study:</h3>
        {% endif %}
        <h1 class="mt-0 mb-16 ta-l reveal-from-bottom">{{ title }}</h1>
        <div class="container-s">
          <p class="m-0 ta-l reveal-from-bottom">{{ description }}</p>
          <div class="reveal-from-bottom mt-32" data-reveal-delay="600">
            {{ videoEmbed(videoUrl, videoPosterSrc, videoClassName) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endmacro %}
