.hero {

	.section-inner {
		padding-top: $hero--padding-t__mobile;
		padding-bottom: $hero--padding-b__mobile;
	}
}



.hero-inner {

	// Affects only hero full
	> .hero-content + .hero-figure,
	> .hero-figure + .hero-content {
		margin-top: $hero--inner-padding-v_mobile;
		
	}

	> .hero-figure {

		> a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
		}
	}
}

.text-block {
	display: inline-block;
	white-space:pre;
}

@include media( '<=medium' ) {

	.hero {
		height: 100vh;
		.split-wrap {

			.split-item {

				.split-item-content {
					margin-bottom: $hero--inner-padding-v_mobile;
				}
			}

			&.invert-mobile {

				.split-item {

					.split-item-image {
						margin-bottom: $hero--inner-padding-v_mobile;
					}
				}
			}
		}

				.videoBg {
					width: 100%;
					height: 100vh;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					z-index: -1;
					overflow: hidden;
					object-fit: cover;
					padding: none;
				}
	}
}

@include media( '>medium' ) {

	.hero {
		height: 100vh;
		.section-inner {
			padding-top: $hero--padding-t__desktop;
			padding-bottom: $hero--padding-b__desktop;
		}
	}

	.hero-inner {

		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}
	}

		.videoBg {
			width: 100%;
			height: 100vh;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			z-index: -1;
			overflow: hidden;
			object-fit: cover;
			padding: none;
		}
}
