.site-header {
  position: fixed !important;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.site-header-inner {
  height: 60px !important;
}

.site-header + .site-content .section:first-of-type {
  padding-top: 60px !important;
}

@media (max-width: 640px) {
  .site-header {
    background: rgba(0, 0, 0, 0.75);
  }

  .header-nav-toggle + .header-nav {
    background: rgba(0, 0, 0, 0.75) !important;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}

@media (min-width: 641px) {
  .header-nav-toggle + .header-nav {
    background: transparent !important;
  }
}