<nav class="footer-nav">
  <ul class="list-reset">
    <li><a href="#work" class="smooth-scroll-link" data-scroll-duration="500">Work</a></li>
    <li><a href="#about" class="smooth-scroll-link" data-scroll-duration="500">About</a></li>
    <li><a href="#contact" class="smooth-scroll-link" data-scroll-duration="500">Contact</a></li>
  </ul>
</nav>
