<footer class="site-footer center-content-mobile">
  <div class="container">
    <div class="site-footer-inner">
      <div class="footer-top footer-top-centered text-xxs">
        {% include "partials/footer-social.njk" %}
      </div>
    </div>
  </div>
</footer>
