<footer class="site-footer center-content-mobile">
  <div class="container">
    <div class="site-footer-inner">
      <div class="footer-top space-between text-xxs">
        {% include "partials/logo.njk" %}
        {% include "partials/footer-social.njk" %}
      </div>
      <div class="footer-bottom space-between text-xxs invert-order-desktop">
        {% include "partials/footer-nav-cs.njk" %}
      </div>
    </div>
  </div>
</footer>
