{% macro gallery(images, targetRowHeight) %}
<div class="gallery" data-target-row-height="{{ targetRowHeight or 100 }}">
  {% for img in images %}
  <a href="{{ img.src }}" class="gallery-item" data-caption="{{ img.caption or '' }}">
    <img src="{{ img.src }}" alt="{{ img.alt or '' }}" loading="lazy" />
  </a>
  {% endfor %}
</div>
{% endmacro %}
