{% from "partials/section-header.njk" import sectionHeader %}

<section class="features-split section" id="about">
  <div class="container mt-32">
    <div class="features-split-inner section-inner">
      {{ sectionHeader("About", null, "h2", null, "center-content") }}
      <div class="about">
        <div class="container-sm">
          <img src="/assets/images/site/headshot.png" alt="Headshot" class="portrait center-content" />
          <div class="container-sm txt">
            <b>Devicist</b> is the studio of <b>Nick Stedman</b>, an artist,
            creative technologist and university lecturer with over 20 years
            of experience building embodied experiences with electronics,
            coding, and fabrication. His award-winning robotic artworks have
            been showcased globally, including at Ars Electronica, the
            Ontario Science Center, SIGGRAPH and on Japanese TV. Since
            founding Devicist in 2014, Nick and his team have partnered with
            fabricators, agencies, architects, and creators on diverse
            projects, from permanent installations to trade show
            centerpieces.
            <br />
            Some of our clients:
          </div>
          <img src="/assets/images/site/company-logos.png" alt="Company Logos" class="mt-64" />
        </div>
      </div>
    </div>
  </div>
</section>
