{% from "partials/section-header.njk" import sectionHeader %}

<section class="features-split section" id="capabilities">
  <div class="container capabilities-group">
    <div class="features-split-inner section-inner">
      {{ sectionHeader("Capabilities", null, "h2", null, "center-content") }}
      <div class="capabilities-list">
        <ul>
          <li>Creative</li>
          <li>Industrial Design</li>
          <li>Fabrication</li>
          <li>Rapid Prototyping</li>
          <li>3D Printing</li>
          <li>Electronics</li>
          <li>Robotics</li>
          <li>PCB Design and Fabrication</li>
          <li>LED and Kinetic Displays</li>
          <li>Apps and Software</li>
          <li>Computer Vision</li>
          <li>Projection Mapping</li>
          <li>Simulation</li>
          <li>Installation and Integration</li>
          <li>Remote Monitoring</li>
          <li>User Metrics</li>
        </ul>
      </div>
    </div>
  </div>
</section>
