<section class="cta section center-content-mobile reveal-from-bottom" id="contact">
  <div class="container">
    <div class="cta-inner section-inner">
      <div class="cta-slogan">
        <h3 class="m-0">Let's Talk!</h3>
        <p class="mb-32">Email us to begin a conversation. We'll get back to you soon.</p>

        <form id="contact-form" class="fieldset form-input" method="POST" action="https://api.web3forms.com/submit">
          <input type="hidden" name="access_key" value="413c57e0-14b8-482a-aa8c-dbbbf537cfc9" />
          <input type="hidden" name="subject" value="New Contact Message from your Website" />
          <input type="hidden" name="from_name" value="Devicist" />

          <div class="form-label">Full Name:</div>
          <input type="text" name="name" required class="input" />

          <div class="form-label">Email Address:</div>
          <input type="email" name="email" required class="input" />

          <div class="form-label">Message:</div>
          <textarea name="message" required class="form-input mt-16"></textarea>
          <br />
          <button type="submit" class="button mt-24">Submit</button>
        </form>

        <div class="mt-16" id="contact-form-result"></div>
      </div>
    </div>
  </div>
</section>
