<section class="hero section center-content">
  <video class="videoBg" autoplay loop muted playsinline>
    <source src="/assets/videos/videoBg-newFootage2.mp4" type="video/mp4" />
  </video>
  <div class="container-sm">
    <div class="hero-inner section-inner">
      <div style="padding: 30px"></div>
      <div class="hero-content has-text-shadow">
        <div class="container-s has-text-shadow">
          <p class="m-0 mb-32 reveal-from-bottom h4-mobile" data-reveal-delay="400">
            <span class="text-block">"Machines that feel</span>
            <span class="text-block">strangely alive"</span>
          </p>
          <div class="reveal-from-bottom" data-reveal-delay="600"></div>
        </div>
      </div>
    </div>
  </div>
</section>
